body {
         font-family: luxi sans,sans-serif;
}

.screen {
        font-family: monospace;
        font-size: 1em;
        display: block;
        padding: 10px;
        border: 1px solid #bbb;
        background-color: #eee;
        color: #000;   
        overflow: auto;
        border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        margin: 0.5em 2em;
}

.programlisting {
        font-family: monospace;
        font-size: 1em;
        display: block;
        padding: 10px;
        border: 1px solid #bbb;
        background-color: #ddd;
        color: #000;   
        overflow: auto;
        border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        margin: 0.5em 2em;
}

.synopsis {
        font-family: monospace;
        font-size: 1em;
        display: block;
        padding: 10px;
        border: 1px solid #bbaa66;
        background-color: #eeddbb;
        color: #000;   
        overflow: auto;
        border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        margin: 0.5em 2em;
}

code.option {
        font-family: courier, monospace;
        color: #770000;
}

h2 {
        color: #000055;
        border-width: 0pt 0pt 2pt 0pt;
        border-color: #444444;
        border-style: solid;
}
h3 {
        color: #001122;
        margin-top: 1.5em;
        border-width: 0pt 0pt 1pt 0pt;
        border-color: #444444;
        border-style: solid;
}
h4 {
        color: #110044;
        margin-top: 1.2em;
        border-width: 0pt 0pt 0pt 0pt;
}
